

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    
}
.dark-2{
    color: #474747;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}
nav ul li{
    margin-right: 51px;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.mary{
    font-size: 45px;
    font-weight: 800;
   
}
.span{
    color: #FD6E0A;
}
.btn{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 36px;
    border: none;
}
/* benar style */
.benar{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px 0px 200px;
    
}
.benar-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.benar-sub-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.benar-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
/* section about style  */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    align-items: center;
    margin-top: 90px;
    border-radius: 1opx;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.about-sub-title{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
}
.about-section{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.section-1-title{
    color: #757575;
    font-size: 20PX;
    font-weight: 400;
}
.section-1-pera{
    color: #474747;
    font-weight: bold;
    font-size: 20px;
}
/* skil style */
.skil-title{
    text-align: center;
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}
.skil-pera{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
.skil{
    padding: 130px 150px;
}
.skils{
    display: flex;
    gap: 24px;
}
.skil-plas{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skil-plas-1{
    color: #181818;
    font-weight: bold;
    font-size: 20px;
}
.skil-plad-pera{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}
/* expiranas style */
.exparians{
    text-align: center;
}
.exparians-1.1{
    
}


